.body {
    display: flex;
    justify-content: center;
}

.pageNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #07f;
    border-radius: 15px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}

.pageNumber.activePage {
    background-color: #07f;
    color: #fff;
}

.pageNumber:hover {
    background-color: #07f;
    color: #fff;
}
.arrow{
    font-size: 18px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border: 2px solid #07f;
    border-radius: 15px;
    margin: 0 10px;
}
.arrow:hover{
    background-color: #0077ff;
    color: #fff;
}