.body {
    position: fixed;
    bottom: 40px;
    left:50%;
    transform: translateX(-50%);
    width: 360px;
    border-radius: 5px;
    background-color: orangered;
    padding: 20px 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}