.userInfo {
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(16, 29, 39, 0.2);
}
.avaBody {
    width: 80px;
    height: 80px;
    background-color: #dbddbbbb;
    border-radius: 50%;
    overflow: hidden;
    border: solid 2px #054d91;
    box-shadow: 4px 4px 8px 0px rgba(16, 29, 39, 0.2);
    margin: auto 30px ;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descr {
    color: #054d91;
    margin-left: 40px;
}

.descr h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.descr p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1.5;
}

.listTitle{
    font-size: 20px;
    font-weight: 600;
}

.photoLoader{
    padding-left: 50px;
}

.updatePhotoDescr{
    color: #054d91;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn{
    font-size: 12px;
    padding: 5px 8px;
    height: auto;
    border-radius: 5px;
    margin: 0;
    font-weight: 400;
    &:hover{
        background: #054d91;
        scale: 1;
    }
}