.nav {
    flex: 0 1 20%;
    margin-right: 20px;
}

.list {
    min-height: 400px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 5px;
    padding: 40px 25px;
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.1);
}

.item {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.4s ease;
}

.link {
    color: #5a5656;
    transition: all ease 0.1s;
    display: flex;
    align-items: center;
}

.link.active {
    color: #3644d9;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}
.link.active .icon {
    background-color: #3644d9;
}

.icon img {
    width: 100%;
}
