.nav {
    flex: 0 1 20%;
    margin-right: 20px;
}

.list{
    min-height: 400px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    padding: 40px 25px;
    border: solid 2px #054d91;
    box-shadow: 4px 4px 8px 0px rgba(16, 29, 39, 0.2);
}

.item{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.4s ease;
}

.link{
    color: #054d91;
    transition: all ease .1s;
}

.link.active{
    color:#4169E1;
    font-size: 22px;
}
