.App {
    height: 100vh;
    background-image: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);
    display: grid;
    grid-template-areas:
'header header'
'nav content';
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 8fr;
}