.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, #30cfd0, #330867);
}

.mainContent{
    flex-grow: 1;
    display: flex;
}

.container{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}