.App {
    height: 100vh;
    background-image: linear-gradient(to right top, #eeb5e7, #cbc5ff, #8dd9ff, #34eaff, #07f6f6);
    display: grid;
    grid-template-areas:
'header header'
'nav content';
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 8fr;
    background-color: cadetblue;
}