.body {
    display: flex;
    padding: 40px 25px;
    background-color: #fff;
    border: solid 2px #054d91;
    border-radius: 10px;
    min-height: 50vh;
}

.users {
    flex: 0 1 20%;
    border-right: solid 2px #2386e279;
    margin-right: 20px;
}

.users h2 {
    font-size: 22px;
    font-weight: 700;
    color: #054d91;
    margin-bottom: 20px;
}

.user {
    font-size: 18px;
    font-weight: 700;
    color: #054d91;
    margin-bottom: 10px;
}

.messages {
    flex: 0 1 80%;
}

.link {
    color: #054d91;
    transition: all 0.1 ease;
}

.link.active {
    color: #4169e1;
    font-size: 22px;
}
